* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {                              
    background-color: #d9dcd6;   /*this effects the backgorund color of the webpage itself*/
}

.header {                          /*this effects the nav bar*/
    padding: 20px; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {                       /*this effects the header HOR*/
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {                 /*this effects the SEO in the header*/
    color: #d9dcd6;
}

.header div {                     /*this effects the navbar*/
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {                  
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;             /*this effects the navbar text color*/
    text-decoration: none;
}

p {
    font-size: 16px;              /*this effects all of the paragraphs font size*/
}

.hero {                           /*this effects the background image of the digital-marketing-meeting..the placement, size, etc..*/
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../week1-homework/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;                  /*image float left*/
    margin-right: 25px;
}

.float-right {                    /*image float right*/
    float: right;
    margin-left: 25px;
}

.content {                        /*this effects the size and margin of the boxes containing the content*/
    width: 75%;                   
    display: inline-block;
    margin-left: 20px;
}

.benefits {                       /*this effects the aside that includes lead generation, brand awarness etc.. the semantics of it, not the content*/       
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {                  /*this effects the lead generation text*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {                 /*this effects the brand awareness text*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {                  /*this effects the cost management text*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h5 {               /*this effects the margin and text alignment of lead generation*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h5 {              /*this effects the margin and text alignment of brand awareness*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h5 {               /*this effects the margin and text alignment of cost management*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {              /*this effects the image of lead generation*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {             /*this effects the image of brand awareness*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {              /*this effects the image of cost management*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



.online-reputation-management {  /*this effects the search online reputaion management article*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {       /*this effects the social media marketing article*/
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img { /*this effects the search engine optimization image*/
    max-height: 200px;
}

.online-reputation-management img { /*this effects the online reputation management image*/
    max-height: 200px;
}

.social-media-marketing img {    /*this effects the social media marketing image*/
    max-height: 200px;
}

.search-engine-optimization h2 {  
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h3 { 
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h4 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {                          /*this effects the footer*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}


